:root {
  --base-font-family: "Inter", sans-serif;

  --background-color: #002018;
  --text-color: #E6E6E6;
  --primary-color: #000000;
  --secondary-color: #005558;
  --accent-color: #05A57A;
  --accent-transparent-color: #05a57a62;

  --navigation-color: var(--primary-color);
  --navigation-link-color: var(--text-color);
  --main-header-text-color: var(--text-color);

  --voyage-bg-color: var(--primary-color);
  --voyage-text-color: var(--text-color);

  --passenger-bg-color: var(--secondary-color);
  --passenger-text-color: var(--text-color);
  --passenger-add-hover-color: var(--accent-color);
  --passenger-border-color: var(--accent-color);

  --shadow-color: var(--accent-transparent-color);
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
}

ul {
  list-style: none;
}

body {
  padding: 0 1vw;
  min-height: 100vh;
  background: var(--background-color);
}

.app-header {
  width: 100;
  padding-top: 2vh;
  box-sizing: border-box;
}

.app-header__app-name {
  padding-left: 0.5vw;
  font-size: clamp(1.5rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
  font-weight: 600;
}

.app-header__app-navigation {
  display: flex;
  gap: 4vw;
  background: var(--navigation-color);
  border-radius: 0.5vw;
  padding: 3.25vh 2vw;
  margin-top: 0.75vw;
  margin-bottom: 1.5vw;
}

.navigation__link {
  font-size: clamp(0.75rem, 1.75vw, 2rem);
  color: var(--navigation-link-color);
  text-decoration: none;
}

.navigation__link_current {
  text-decoration: underline;
}

.navigation__link:hover {
  text-decoration: underline;
}

.app-main {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3vh;
}

.voyage-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 3vh;
  column-gap: calc(10% / 3);
  padding: 0 0.5vw;
}

.voyage-list__item {
  width: 31%;
  box-sizing: border-box;
  border-radius: 1vw;
  padding: 1vw 1.2vw;
  background-color: var(--voyage-bg-color);
  box-shadow: 0px 1px 2px var(--shadow-color);
}

.voyage__destination {
  color: var(--voyage-text-color);
}

.voyage__ferry {
  margin-bottom: 1vw;
  color: var(--voyage-text-color);
}

.passenger {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  gap: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
  background-color: var(--passenger-bg-color);
}

.passenger__info {
  display: block;
}

.passenger__text {
  color: var(--passenger-text-color);
}

.passenger__controls {
  display: flex;
  justify-content: center;
  gap: calc(2vw / 3);
}

.passenger__controls-btn {
  width: 2vw;
  height: 2vw;
  opacity: 0.6;
  border: none;
}

.delete-icon {
  background: url(assets/delete-forever.svg) center / cover;
}

.move-icon {
  background: url(assets/swap-horiz.svg) center / cover;
}

.voyage-adder {
  background-color: var(--passenger-bg-color);
  transition: background-color 0.75s ease;
}

.voyage-adder:hover {
  background-color: var(--passenger-add-hover-color);
}

.voyage-adder__btn {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: clamp(0.75rem, 2vw, 2rem);
  color: var(--voyage-text-color);
}

.voyage-adder__btn:hover {
  font-weight: 600;
  cursor: pointer;
}

.app-modal[open] {
  border: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-modal::backdrop {
  backdrop-filter: blur(10px);
}

.app-modal__form {
  box-sizing: border-box;
  padding: 2vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.app-modal__input {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: var(--black-color);
  border: 2px solid var(--black-color);
}

.app-modal__controls {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.app-modal__btn {
  cursor: pointer;
  padding: 5px;
}